.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.main-pane {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: auto;
}

.left-pane {
  flex: 1;
  border-right: 1px solid #e8e8e8;
  overflow: auto;
}

.right-pane {
  flex: 1;
  overflow: auto;
}

.app-bar {
  border-bottom: 1px solid #e8e8e8;
}

.analysis-panel {
  width: 100%;
  margin: 10px;
}

*:focus {
  outline: none;
}

.testingX {
  background: tomato;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}