.compute-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

.compute-pane-var-formula-box {
    display: grid;
    grid-template-columns: 250px 250px;
    margin: 0px;
    padding: 0px;
}

.compute-pane-target-var-box {
    display: grid;
    grid-template-columns: 120px 380px;
    margin: 0px;
    padding: 0px;
}

.ComputeTargetVarInput {
    width: 380px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
}

.ComputeTargetVarInput:hover {
    border-bottom: 2px solid #a7a7a7;
}

.ComputeTargetVarInput:focus {
    border-bottom: 2px solid #a7a7a7;
    outline: none;
}

.ComputeFormulaTextarea {
    width: 500px;
    height: 130px;
    font-size: 14px;
    resize: none;
    border: 1px solid #e8e8e8
}

.ComputeFormulaTextarea:hover {
    border: 1px solid #a7a7a7;
}

.ComputeFormulaTextarea:focus {
    border: 1px solid #a7a7a7;
}

.ComputeFormulaVarList {
    cursor: pointer;
}

.Filter-pane-box {
    display: grid;
    grid-template-columns: 190px 300px 130px;
    margin: 0px;
    padding: 0px;
}

.FilterTextarea {
    width: 290px;
    height: 400px;
    font-size: 14px;
    resize: none;
    border: 1px solid #e8e8e8
}

.FilterTextarea:hover {
    border: 1px solid #a7a7a7;
}

.FilterTextarea:focus {
    border: 1px solid #a7a7a7;
}

.Operation-Grid {
    display: grid;
    grid-template-columns: 65px 65px;
    grid-template-rows: 30px 30px 30px 40px 40px;
    margin: 0px;
    padding: 0px;
}

.Wide-Button-Container {
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.Recode-Pane-Middle-Column {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows:30px 30px auto;
    margin: 0px;
    padding: 0px;
}

.RecodeConditionTextarea {
    width: 290px;
    height: 190px;
    font-size: 14px;
    resize: none;
    border: 1px solid #e8e8e8
}

.RecodeConditionTextarea:hover {
    border: 1px solid #a7a7a7;
}

.RecodeConditionTextarea:focus {
    border: 1px solid #a7a7a7;
}

.RecodeNewValueInput {
    width: 290px;
    font-size: 14px;
    border: 1px solid #e8e8e8;
}

.RecodeNewValueInput:hover {
    border: 1px solid #a7a7a7;
}

.RecodeNewValueInput:focus {
    border: 1px solid #a7a7a7;
}

.RecodeTargetVarInput {
    width: 370px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
}

.RecodeTargetVarInput:hover {
    border-bottom: 2px solid #a7a7a7;
}

.RecodeTargetVarInput:focus {
    border-bottom: 2px solid #a7a7a7;
    outline: none;
}

.RecodeRuleTextarea {
    width: 620px;
    height: 190px;
    font-size: 14px;
    resize: none;
    border: 1px solid #e8e8e8
}

.RecodeRuleTextarea:hover {
    border: 1px solid #a7a7a7;
}

.RecodeRuleTextarea:focus {
    border: 1px solid #a7a7a7;
}