.ROutputText {
    text-align: left;
    white-space: pre-wrap;
    color: dodgerblue;
  }

.notebook-block {
  width: 100%;
  border: 1px solid black;
}

.active-block {
    border: 1px solid black;
}

.inactive-block {
    border: 1px solid #e8e8e8;
}

.Normal {
  color: dimgray;
}

.Warning {
  color: hotpink;
}

.notebook-title-grid {
  display: grid;
  grid-template-columns: auto 25px 30px 30px 30px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.titleEdit {
  border: none;
  min-width: 400px;
  font-size: 15px;
  font-weight: bold;
}

.titleEdit:hover {
  color: #40a9ff;
}

.editorTextArea {
  background: #f1f1f1
}

.notebook-bar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  
  border-bottom: 1px solid #e8e8e8;
  
}

.notebook-blk {
  z-index: 1;
}